body {
  background: lightslategray;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 10px solid white;
}

.title {
  background: lightblue;
  padding: 8px;
}

.content {
  background: lightblue;
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  background: lightblue;
  text-align: center;
  padding: 8px;
}

button {
  display: block;
  margin: auto;
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
}